*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;/* es una propiedad que le dice a CSS como se va a diujar las cajas que haremos de borde a los elementos*/
}

html, body{
  background-color: #1b1b32;
  
}

.contenedor-principal{
  height: 550px;
  min-width: 600px;
  display: flex;
  flex-wrap: wrap; 
  flex-direction: column; /*para que esten los componentes unos encima de otros*/
  /*para centrar los elementos*/ 
  align-items: center;
  justify-content: center;
}


.App{
  display: flex;
  /*para alinear los elementos*/
  flex-wrap: wrap;
  /*para centrar los elementos*/ 
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  font-family: Lato ,sans-serif;
}

.freecodecamp-logo-contenedor{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.freecodecamp-logo{
  height: 50px; 
}